#sideform {
  min-height: 96vh;
  background: linear-gradient(#f96c6c, #fff) !important;
}

#sideform p {
  font-size: 1.4rem;
}

.btn,
input {
  border-radius: 20px !important;
}

.card {
  min-width: 30vw !important;
  background-color: transparent;
  background: url(rainbow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
}
